{% extends "layout.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
    <div class="container mt-5">
       
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show text-center" role="alert">
              {{ messages[0][1] }}
            </div>
          {% endif %}
        {% endwith %}

        <div class="category-filter me-auto" style="width: 300px;">
            <form method="GET" action="{{ url_for('shop.display_shop') }}">
                <label for="category-select" style="margin-bottom: 10px;"><b>Filter by Category:</b></label>
                <select id="category-select" class="form-control" name="category_id" onchange="this.form.submit()" >
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.category_id }}" {% if selected_category == category.category_id %}selected{% endif %}>
                            {{ category.category_name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.product_picture_url }}" alt="{{ product.product_name }}">
                    <h3>{{ product.product_name }}</h3>
                    <p style="color: #6c5ce7; font-weight: bold;">{{ product.product_price }}₺</p>
                    <div class="quick-view-container">
                        <button class="quick-view-button" data-id="{{ product.product_id }}">Quick View</button>
                    </div>
                    <button type="button" class="add-to-cart">Add to Cart</button>
                </div>
            {% endfor %}
        </div>

        
        <div id="product-modal" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <div class="modal-body">
                    <img id="modal-image" src="" alt="">
                    <h1 id="modal-name"></h1>
                    <p class="price" id="modal-price"></p>
                    <p class="description" id="modal-description"></p>
                    <div class="quantity">
                        <label for="modal-quantity">Quantity:</label>
                        <input type="number" id="modal-quantity" name="quantity" min="1" value="1">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
